*˜
*.pyc
.svn
.DS_Store
.DS_Store?
._*
settings.py
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.project
.pydevproject
.settings/*
comum/fixtures/test.json
upload/*
.idea/*
deploy/logs/gunicorn/gunicorn*
deploy/logs/nginx/access*
deploy/logs/nginx/error*
deploy/logs/supervisor/err*
deploy/logs/supervisor/out*
deploy/gunicorn_start.sh
deploy/sessions/sessionid*
deploy/static/*
deploy/media/*
docs/tecnica/.build/*
docs/tecnica/.static/*
docs/usuarios/.build/*
docs/usuarios/.static/*
htmlcov/
docs/usuario/.build/*
docs/usuario/.static/*
.coverage
.ropeproject/
financeiro/arquivos/*
progressoes/*.wpr
progressoes/*.wpu
rh/tests/arquivos_siape_novo/*
deploy/random_password.txt
*~
capacitacao/anexos/*
MIGRACAO.txt
edu/logs/*
rh/cracha/barcode/*.jpg
*swp
geckodriver.log
ghostdriver.log
